@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#clearcache-toolbarbutton {
	list-style-image: url(chrome://clearcache/skin/buttons.png);
	-moz-image-region: rect(0 26px 24px 0);
}

#clearcache-toolbarbutton:hover {
	-moz-image-region: rect(0 52px 24px 26px);
}

toolbar[iconsize="small"] #clearcache-toolbarbutton {
	-moz-image-region: rect(0 70px 16px 52px);
}

toolbar[iconsize="small"] #clearcache-toolbarbutton:hover {
	-moz-image-region: rect(0 88px 16px 70px);
}
